.adminPage {
	table{
		tr{
			td{
				vertical-align: middle !important;
			}
		}
	}
	.pagination-div {
		display: inline-block;
		ul {
				display: inline-block;
			li{
				display: inline-block;
			}
		}
	}
	.station-edit{
		.station-edit-form{
			label{
				text-align: left;
			}
			.button-group{
				padding: 0 2px 0 8px;
				.button-right{
					float: right;
				}
			}
			.error-text{
				color: #F11414;
			}
		}
	}
	.station-letters-admin {
		margin: 15px 0 0;
	}
	.search-admin {
		margin-bottom: 45px;
		margin-top: 25px;
	}
	.success-text{
		color: #5cb85c;
		font-weight: 500;
		font-size: 16px;
	}
	.buttonChanged {
	 	background: #677582 !important;
	 	border: 1px solid #677582 !important;
	}
	.station-letters-div {
		.letter {
			cursor:pointer;
			color: #31b0d5;
			&.selectedLetter{
				color: rgb(255, 143, 0);
    			font-weight: bold;
			}
			.letter-distance {
				padding:5px;
				color: #333;
			}
		}
	} 

}