<div class="adminPage" ng-show="showAdmin">
    <uib-tabset  active="active">
        <uib-tab index="0" heading="Stations">
            <h3 class="text-left home-header" ng-show="!showEdit">Search London Tube Station Zone</h3>
            <div class="station-letters-div station-letters-admin col-xs-12" ng-show="!showEdit">
                <span class="letter" ng-repeat="alphabet in alphabets" ng-click="getZoneDetails(alphabet)" ng-class="{'selectedLetter': selectedLetter === alphabet}">{{alphabet}} <span class="letter-distance" >|</span> </span>
            </div>
            <div class="col-xs-12 col-sm-8 search-div search-admin" ng-show="!showEdit">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="London Tube Station Name or Post Code" ng-model="searchPostCode.postCode">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">Find Zone</button>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-8 zone-details-div" ng-show="displayviewDetails && zoneDetails.length && !showEdit">
                <div class="success-text" ng-show="stationDeactivated">Station Deactivated Successfully</div>
                <button class="btn btn-info" type="button" style="margin-bottom: 10px;" ng-click="editDetails('station')" >Add New Station</button>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> Station Name </th>
                            <th> Station Zone </th>
                            <th style="text-align:center;" width="25%" class="action"> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="zone in zoneDetails | pagination: curPage * pageSize | filter:searchPostCode.postCode| limitTo: 10">
                            <td>{{zone.name}}</td>
                            <td>{{zone.zone}}</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="zone.action">Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-click ="editDetails('station', zone)"><a href="#">Edit</a></li>
                                        <li ng-click ="dispalyDetails(zone)"><a href="#">View Details</a></li>
                                        <li><a href="#" ng-click ="diactivateZone(zone, $index)">Deactivate</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-info" type="button" style="margin-bottom: 10px;" ng-click="editDetails('station')" >Add New Station</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-8 zone-details-div" ng-show="displayviewDetails && !zoneDetails.length">
                <h3 class="no-results text-center">No Results Found</h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-8 zone-details-div" ng-hide="displayviewDetails">
                <div>
                    <span class="station-details pull-left">Station Details</span>
                    <span class="pull-right">
                        <button class="btn btn-info" type="button" style="margin-bottom: 10px;" ng-click="showAllZones()" >Back</button>
                    </span>
                </div>
                <table class="table displayZone table-striped">
                    <tbody>
                        <tr>
                            <td>Station Name</td>
                            <td>{{displayZone.name}}</td>
                        </tr>
                        <tr>
                            <td>Station Zone</td>
                            <td>{{displayZone.zone.name || displayZone.zone}}</td> 
                        </tr>
                        <tr>
                            <td>Station Address</td>
                            <td>{{displayZone.address}}</td> 
                        </tr>
                        <tr>
                            <td>Station PostCode</td>
                            <td>{{displayZone.postCode}}</td> 
                        </tr>
                        <tr>
                            <td>Station Type</td>
                            <td>{{displayZone.stationType.name || displayZone.stationType}}</td> 
                        </tr>
                        <tr>
                            <td>Station Longitude</td>
                            <td>{{displayZone.longitude}}</td> 
                        </tr>
                        <tr>
                            <td>Station Latitude</td>
                            <td>{{displayZone.latitude}}</td> 
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-info" type="button" style="margin-bottom: 10px;" ng-click="editDetails('station', displayZone)" >Edit Station</button>
            </div>
      
            <div class="col-xs-12 col-sm-12 col-lg-8 station-edit" ng-show="showEdit">
                <h3>Edit Station</h3>
                <div class="form-horizontal station-edit-form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="name">Name:</label>
                        <div class="col-md-8 col-sm-9">
                            <input id="name" name="name" type="text" ng-model="stationDetails.name" placeholder="Name" class="form-control" ng-focus="hideErrorMsg('name','stationDetails')">
                            <div class="error-text" ng-show="errors.stationDetails.name">{{errors.stationDetails.name}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="zone">Zone:</label>
                        <div class="col-md-8 col-sm-9">
                            <!--<input id="zone" name="zone" type="text" ng-model="stationDetails.zone" placeholder="Zone" class="form-control" ng-focus="hideErrorMsg('zone','stationDetails')">-->
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="stationDetails.zone">{{stationDetails.zone.name}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="zone in zoneList" ng-click="stationDetails.zone = zone">
                                        <a href>{{zone.name}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="error-text" ng-show="errors.stationDetails.zone">{{errors.stationDetails.zone}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="address">Address:</label>
                        <div class="col-md-8 col-sm-9">
                            <input id="address" name="address" type="text" ng-model="stationDetails.address" placeholder="Address" class="form-control" ng-focus="hideErrorMsg('address','stationDetails')">
                            <div class="error-text" ng-show="errors.stationDetails.address">{{errors.stationDetails.address}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="postCode">Post Code:</label>
                        <div class="col-md-8 col-sm-9">
                            <input id="postCode" name="postCode" type="text" ng-model="stationDetails.postCode" placeholder="Post Code" class="form-control" ng-focus="hideErrorMsg('postCode','stationDetails')">
                            <div class="error-text" ng-show="errors.stationDetails.postCode">{{errors.stationDetails.postCode}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="stationType">Station Type:</label>
                        <div class="col-md-8 col-sm-9">
                            <!--<input id="stationType" name="stationType" type="text" ng-model="stationDetails.stationType" placeholder="Station Type" class="form-control" ng-focus="hideErrorMsg('stationType','stationDetails')">-->
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="stationDetails.stationType">{{stationDetails.stationType.name}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="stationType in stationTypes" ng-click="stationDetails.stationType = stationType">
                                        <a href>{{stationType.name}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="error-text" ng-show="errors.stationDetails.stationType">{{errors.stationDetails.stationType}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="longitude">Longitude:</label>
                        <div class="col-md-8 col-sm-9">
                            <input id="longitude" name="longitude" type="text" ng-model="stationDetails.longitude" placeholder="Longitude" class="form-control" ng-focus="hideErrorMsg('longitude','stationDetails')">
                            <div class="error-text" ng-show="errors.stationDetails.longitude">{{errors.stationDetails.longitude}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="latitude">Latitude:</label>
                        <div class="col-md-8 col-sm-9">
                            <input id="latitude" name="latitude" type="text" ng-model="stationDetails.latitude" placeholder="Latitude" class="form-control" ng-focus="hideErrorMsg('latitude','stationDetails')">
                            <div class="error-text" ng-show="errors.stationDetails.latitude">{{errors.stationDetails.latitude}}</div>
                        </div>
                    </div>
                    <div class="button-group">
                        <button type="button" class="btn btn-default" ng-click="cancelEdit()">Cancel</button>
                        <button type="button" class="btn btn-info button-right" ng-click="saveStationDetails(stationDetails, 'station')">Save</button>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Zones">
            <div class="col-xs-12 col-sm-12 col-lg-8 zone-details-div" ng-show="displayviewDetails && zoneDetails.length && !showEdit" style="margin-top: 20px;">
                <div class="success-text" ng-show="stationDeactivated">Station Deactivated Successfully</div>
                <button class="btn btn-info" type="button" style="margin-bottom: 10px;" ng-click="editDetails('zone')" >Add Zone</button>
                <table class="table">
                    <thead>
                        <tr>
                            <th> Zone Name </th>
                            <th> Description </th>
                            <th  style="text-align:center;" width="25%" class="action"> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="zone in zoneList">
                            <td>{{zone.name}}</td>
                            <td>{{zone.description}}</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="zone.action">Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-click="editDetails('zone', zone)"><a href="#">Edit</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-info" type="button" style="margin-bottom: 10px;" ng-click="editDetails('zone')" >Add Zone</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-8 station-edit" ng-show="showEdit">
                <h3>Edit Station</h3>
                <div class="form-horizontal station-edit-form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="name">Name:</label>
                        <div class="col-md-8 col-sm-9">
                            <input id="name" name="name" type="text" ng-model="stationDetails.name" placeholder="Name" class="form-control" ng-focus="hideErrorMsg('name','stationDetails')">
                            <div class="error-text" ng-show="errors.stationDetails.name">{{errors.stationDetails.name}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="zone">Description:</label>
                        <div class="col-md-8 col-sm-9">
                            <textarea class="form-control" ng-model="stationDetails.description"></textarea>
                            <div class="error-text" ng-show="errors.stationDetails.description">{{errors.stationDetails.description}}</div>
                        </div>
                    </div>
                    <div class="button-group">
                        <button type="button" class="btn btn-default" ng-click="cancelEdit()">Cancel</button>
                        <button type="button" class="btn btn-info button-right" ng-click="saveStationDetails(stationDetails, 'zone')">Save</button>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Station Types">
            <div class="col-xs-12 col-sm-12 col-lg-8 zone-details-div" ng-show="displayviewDetails && zoneDetails.length && !showEdit" style="margin-top: 20px;">
                <button class="btn btn-info" type="button" style="margin-bottom: 10px;" ng-click="editDetails('stationType')" >Add Station Type</button>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> Station Type </th>
                            <th> Description </th>
                            <th style="text-align:center;" width="25%" class="action"> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="stationType in stationTypes">
                            <td>{{stationType.name}}</td>
                            <td>{{stationType.description}}</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="zone.action">Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-click ="editDetails('stationType', stationType)"><a href="#">Edit</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-info" type="button" style="margin-bottom: 10px;" ng-click="editDetails('stationType')" >Add Station Type</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-8 station-edit" ng-show="showEdit">
                <h3>Edit Station</h3>
                <div class="form-horizontal station-edit-form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="name">Name:</label>
                        <div class="col-md-8 col-sm-9">
                            <input id="name" name="name" type="text" ng-model="stationDetails.name" placeholder="Name" class="form-control" ng-focus="hideErrorMsg('name','stationDetails')">
                            <div class="error-text" ng-show="errors.stationDetails.name">{{errors.stationDetails.name}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="zone">Description:</label>
                        <div class="col-md-8 col-sm-9">
                            <textarea class="form-control" ng-model="stationDetails.description"></textarea>
                            <div class="error-text" ng-show="errors.stationDetails.description">{{errors.stationDetails.description}}</div>
                        </div>
                    </div>
                    <div class="button-group">
                        <button type="button" class="btn btn-default" ng-click="cancelEdit()">Cancel</button>
                        <button type="button" class="btn btn-info button-right" ng-click="saveStationDetails(stationDetails, 'stationTypes')">Save</button>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>