//contact page scss starts here
.contact-us {
    .form-horizontal {
        fieldset {
            .form-group {
               //padding-right: 50px;
               label {
                   text-align: left;
               }
               input {
                   max-width: 100%;
               }
               .error-text{
                   color: #F11414;
               }
            }
            .has-error {
                input {
                    border: 1px solid #a94442;
                }
            }
        }
    }
   .email-address {
       margin: 0;
   } 
}

@media only screen and (max-width: 768px) {
    .contact-us{
        padding: 20px;
    }
}