<div class="contact-us">

        <form class="form-horizontal" name="contactForm" ng-submit="contactInfo(contactForm)" novalidate>
          <fieldset>
            <legend class="">Enter Your Questions Below</legend>
            
            <div ng-bind="detailsSaved" class="text-success"></div>
            <!-- Name input-->
            <div class="form-group">
              <label class="col-sm-3 control-label" for="name">Name*:</label>
              <div class="col-md-8 col-sm-9">
                <input id="name" name="name" type="text" placeholder="Your name" ng-model="contact.name" ng-focus="hideErrorMsg('name','contact')" class="form-control" required>
                <div class="error-text" ng-show="errors.contact.name">{{errors.contact.name}}</div>
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group">
              <label class="col-sm-3 control-label" for="email">Email Address*:</label>
              <div class="col-md-8 col-sm-9">
                <input id="email" name="email" type="text" placeholder="Your Email Address" ng-focus="hideErrorMsg('email','contact')" ng-model="contact.email" class="form-control" required>
                <div class="error-text" ng-show="errors.contact.email">{{errors.contact.email}}</div>
              </div>
            </div>


            <!-- phone number input-->
            <div class="form-group">
              <label class="col-sm-3 control-label" for="phone">Phone Number*:</label>
              <div class="col-md-8 col-sm-9">
                <input id="email" name="email" type="text" numbers-only ng-model="contact.phone" placeholder="Your Phone Number" ng-focus="hideErrorMsg('phone','contact')" class="form-control" required>
                <div class="error-text" ng-show="errors.contact.phone">{{errors.contact.phone}}</div>
              </div>
            </div>
    
            <!-- Message body -->
            <div class="form-group">
              <label class="col-sm-3 control-label" for="message">Your Question*:</label>
              <div class="col-md-8 col-sm-9">
                <textarea class="form-control" id="message" name="message" ng-model="contact.question" ng-focus="hideErrorMsg('question','contact')" placeholder="Please enter your question here..." rows="5"></textarea required>
                <div class="error-text" ng-show="errors.contact.question">{{errors.contact.question}}</div>
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-sm-11 text-right">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
            <p class="email-address"><strong>Email:</strong> <a  href="mailto:info@londonzone.com" target="_top">info@londonzone.com</a></p>
          </fieldset>
          </form>

</div>
