<div class="contact-us">

        <form class="form-horizontal" name="contactForm" ng-submit="contactInfo(contactForm)" novalidate>
          <fieldset>
            <legend class="">Enter Your Questions Below</legend>
            
            <h4 ng-bind="requiredError" class="text-danger"></h4>
            <!-- Name input-->
            <div class="form-group">
              <label class="col-sm-3 control-label" for="name">Name*:</label>
              <div class="col-md-8 col-sm-9">
                <input id="name" name="name" type="text" placeholder="Your name" ng-model="contact.name" class="form-control" required>
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group">
              <label class="col-sm-3 control-label" for="email">Email Address*:</label>
              <div class="col-md-8 col-sm-9">
                <input id="email" name="email" type="text" placeholder="Your Email Address" ng-model="contact.email" class="form-control" required>
              </div>
            </div>


            <!-- phone number input-->
            <div class="form-group">
              <label class="col-sm-3 control-label" for="email">Phone Number*:</label>
              <div class="col-md-8 col-sm-9">
                <input id="email" name="email" type="text" numbers-only ng-model="contact.phone" placeholder="Your Phone Number" class="form-control" required>
              </div>
            </div>
    
            <!-- Message body -->
            <div class="form-group">
              <label class="col-sm-3 control-label" for="message">Your Question*:</label>
              <div class="col-md-8 col-sm-9">
                <textarea class="form-control" id="message" name="message" ng-model="contact.question" placeholder="Please enter your question here..." rows="5"></textarea required>
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-sm-11 text-right">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
            <p class="email-address"><strong>Email:</strong> <a  href="mailto:info@londonzone.com" target="_top">info@londonzone.com</a></p>
          </fieldset>
          </form>

</div>
