//home page scss starts here
.home-page-div{
	.home-header{
		padding: 0 10px;
	}
	.no-results {
		color: red;
		padding-left: 20px;
	}
	.social{
		padding-left: 10px;
		.twitter{
			background-color: #1DA1F3;
			border-color: #1DA1F3;
			font-size: 11px;
    		letter-spacing: 0.05em;
			margin-right: 15px;
			img{
				margin-right: 4px;
				margin-bottom: 2px;
			}
		}
		.fb{
			background-color: #365899;
			border-color: #365899;
			font-size: 11px;
    		letter-spacing: 0.05em;
			img{
				margin-right: 5px;
			}
		}
	}
	.station-letters-div{
		padding: 0 10px;
		margin: 20px 0;
		word-wrap: break-word;
		.letter{
			cursor: pointer;
			color: #31b0d5;
			&.selectedLetter{
				color: rgb(255, 143, 0) !important;
    			font-weight: bold;
			}
			.letter-distance {
				padding:5px;
				color: #333;
			}
		}
	}
	.search-div{
		margin: 20px 0 45px;	
	}
	.table{
		th, td {
		    border-bottom: 1px solid #ddd;
		    vertical-align: middle ;
		}
	}
	.zone-details-div {
		.station-details {
			margin-left: 12px;
			font-size: 20px;
			font-weight: 600;
		}
	}
}
.displayZone {
	tbody tr > td:first-child{
		font-size: 14px;
		font-weight: 600;
		padding: 14px;
	}
}

@media only screen and (max-width: 768px) {
	.zone-details-div{
		padding: 0 5px !important;
	}
}

.pagination-div {
	display: inline-block;
	ul {
			display: inline-block;
		li{
			display: inline-block;
		}
	}
}

#map, #googleMap{
	width: 800px;
	height: 400px;
}
.ng-hide {
	display: none;
}
.header a{
	font-weight:400 !important;
}

@media only screen and (max-width:768px){
	.main-nav {
		display: none;
	} 
	.hamburger{
		background: #fff;
	    padding: 10px;
	    text-align: center;
	
	}
	.responsive-wrapper {
		display: none;
	}

}

@media only screen and (min-width:768px){
	.responsive-wrapper {
		display: none !important;
	}
}
.responsive-wrapper a:hover {
    background: #efefef;
    text-decoration: none !important;
    color: black !important;
}    

.responsive-wrapper a:visited  {
    text-decoration: none !important;
    color: #fff;
}    
.nav-img {
	height: 43px;
	position: absolute;
	left: 18px;
}
.navbar-nav {
	margin-left: 16px !important;
}
.navbar {
	margin-bottom: 0 !important;
}
.navbar-collapse {
	text-align: center;	 
} 
.display-content {
	margin-top: 50px;
	background-color: #fff !important;
	border: 0 none !important;
	box-shadow: none !important;
	border-radius: 0 !important;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	background-color: #336699 !important;
    color: white !important;
}
@media only screen and (min-width:768px){
	.navbar-default .navbar-nav{
	    width: 96% !important;
	    margin-left : 45px !important;
	}
}
.company-results{
	color: #323232;
	background-color: #f6f6f6;
	border: 1px solid #d4d4d4;
	text-align: left;
	font-size: 13px;
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
    margin: 2px 0 0;
	list-style-type: none;
	padding: 0;
	position: absolute;
	width:85%;
	z-index:999;
}
.company-results li {
	cursor: pointer;
	padding: 5px;
    border-bottom: 1px solid #d4d4d4;
    padding: 6px 10px;
}
.company-results>li:last-child {
  border-bottom: none;
}