//home page scss starts here
.home-page-div{
	.home-header{
		padding: 0 10px;
	}
	.no-results {
		color: red;
		padding-left: 20px;
	}
	.station-letters-div{
		padding: 0 10px;
		margin: 20px 0;
		word-wrap: break-word;
		.letter{
			font-size: 15px;
			padding: 5px;
			font-weight: bold;
			cursor: pointer;
			color: #31b0d5;
		}
	}
	.search-div{
		margin: 20px 0;	
	}
	.table{
		th, td {
		    border-bottom: 1px solid #ddd;
		    vertical-align: middle ;
		}
	}
	.zone-details-div {
		.action{
			text-align:center;
		}
		.station-details {
			margin-left: 12px;
			font-size: 20px;
			font-weight: 600;
		}
	}
}
.displayZone {
	tbody tr > td:first-child{
		font-size: 14px;
		font-weight: 600;
		padding: 14px;
	}
}

@media only screen and (max-width: 768px) {
	.zone-details-div{
		padding: 0 5px !important;
	}
}


.ng-hide {
	display: none;
}
.header a{
	font-weight:400 !important;
}

@media only screen and (max-width:768px){
	.main-nav {
		display: none;
	} 
	.hamburger{
		background: #fff;
	    padding: 10px;
	    text-align: center;
	
	}
	.responsive-wrapper {
		display: none;
	}

}
@media only screen and (min-width:768px){
	.responsive-wrapper {
		display: none !important;
	}
}
.responsive-wrapper a:hover {
    background: #efefef;
    text-decoration: none !important;
    color: black !important;
}    

.responsive-wrapper a:visited  {
    text-decoration: none !important;
    color: #fff;
}    
