<div class="home-page-div">
    <h3 class="text-left home-header">London Fare Zone Finder</h3>
    <div style="padding: 10px;">You can search for the London Fare Zone of any Tube Station or Postcode within London (Last updated March  2017)</div>
    <div class="social">
        <a style="float:left;margin-top: -1px;" class="twitter-share-button" href="https://twitter.com/intent/tweet?text=London Fare Zone Finder - Easily find the london zone of a station or postcode @londonzonefnder http://www.londonzonefinder.com" data-size="large">
			<button class="btn btn-info btn-xs twitter" type="button"><span><img src="../images/twitter-icon.png" width="12px"></span>Tweet</button>
		</a>
		<!-- <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.londonzonefinder.com&width=250&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId" width="350" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe> -->
    	<div class="fb-like" data-href="http://www.londonzonefinder.com" data-layout="standard" data-action="like" data-share="true" data-show-faces="true"></div>
    </div>    
    <div class="station-letters-div col-xs-12" style = "margin: 0 0 15px 0;">
       <span class="letter" ng-repeat="alphabet in alphabets" ng-click="getZoneDetails(alphabet)" ng-class="{'selectedLetter': selectedLetter === alphabet}">{{alphabet}} <span  class="letter-distance" >|</span> </span>
    </div>
    <div class="col-xs-12 col-sm-8 search-div">
        <div class="input-group">
			<input type="text" class="form-control"
				placeholder="London Tube Station Name or Post Code"
				ng-model="searchPostCode.postCode"
				ng-keydown="stationSearch($event)" ng-keyup="search($event)"
				ng-enter="findZone(searchPostCode.postCode)"> <span class="input-group-btn">
				<button class="btn btn-info" type="button"
					ng-click="findZone(searchPostCode.postCode)">Find Zone</button>
			</span>
		</div>
		<div ng-show="searchResultList && searchResultList.length">
			<ul class="company-results h7" close-dropdown>
				<li ng-if="searchResult.name"
					ng-repeat="searchResult in searchResultList | orderBy:'organizationName'"
					ng-click="showStation(searchResult.name)">
					<div ng-bind="searchResult.name"></div>
				</li>
			</ul>
		</div>
	</div>
    <div class="col-xs-12 col-sm-12 col-lg-8 zone-details-div" ng-show="displayViewDetails && zoneDetails.length && !viewMap && !displaySearchStation">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Station Name </th>
                    <th> Station Zone </th>
                    <th> Station Postcode </th>
                    <th width="25%" class="action" style="text-align:center;"> Action </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="zone in zoneDetails | pagination: curPage * pageSize | limitTo: 10">
                    <td>{{zone.name}}</td>
                    <td>{{zone.zone}}</td>
                    <td>{{zone.postCode}}</td>
                    <td class="text-center"><button class="btn btn-info" type="button" ng-click="dispalyDetails(zone)" >View Details</button></td>
                </tr>
            </tbody>
        </table>
        <div class="pagination-div col-xs-12 col-sm-12 col-lg-7 pull-right" ng-show="zoneDetails.length && displayViewDetails">
            <ul>
                <li><button type="button" class ="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1">< PREV</button></li>
                <li><span>Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>
                <li><button type="button" class="btn btn-primary" ng-disabled="curPage >= zoneDetails.length/pageSize - 1" ng-click="curPage = curPage+1">NEXT > </button></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-8 zone-details-div" ng-show="displaySearchStation && matchedStations.length">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Station Name </th>
                    <th> Station Zone </th>
                    <th> Station Postcode </th>
                    <th width="25%" class="action" style="text-align:center;"> Action </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="zone in matchedStations track by $index">
                    <td>{{zone.name}}</td>
                    <td>{{zone.zone}}</td>
                    <td>{{zone.postCode}}</td>
                    <td class="text-center"><button class="btn btn-info" type="button" ng-click="dispalyDetails(zone)" >View Details</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-8 zone-details-div" ng-show="!viewMap && ((displayViewDetails && !zoneDetails.length) || (displaySearchStation && !matchedStations.length))">
        <h3 class="no-results text-center">No Results Found</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-8 zone-details-div" ng-if="!displayViewDetails && !displaySearchStation">
        <div>
            <span class="station-details pull-left">Station Details</span>
            <span class="pull-right">
                <button class="btn btn-info" type="button" style="margin-bottom: 10px;" ng-click="showAllZones()" >Back</button>
            </span>
        </div>
        
        <table class="table displayZone table-striped">
            <tbody>
                <tr>
                    <td>Station Name</td>
                    <td>{{displayZone.name}}</td>
                </tr>
                <tr>
                    <td>Station Zone</td>
                    <td>{{displayZone.zone}}</td> 
                </tr>
                <tr>
                    <td>Station Address</td>
                    <td>{{displayZone.address}}</td> 
                </tr>
                <tr>
                    <td>Station PostCode</td>
                    <td>{{displayZone.postCode}}</td> 
                </tr>
                <tr>
                    <td>Station Type</td>
                    <td>{{displayZone.stationType}}</td> 
                </tr>
                <tr>
                    <td>Station Longitude</td>
                    <td>{{displayZone.longitude}}</td> 
                </tr>
                <tr>
                    <td>Station Latitude</td>
                     <td>{{displayZone.latitude}}</td> 
                </tr>
            </tbody>
        </table>
        <!--<button class="btn btn-info" type="button" style="margin-bottom: 10px;" ng-click="showMap = !showMap"><span ng-show="!showMap">View In Map</span><span ng-show="showMap">Hide Map</span></button>-->
        <div id="map"></div>
    </div>
    <div class="col-xs-12" style="padding-bottom: 10px;">
        <button class="btn btn-info" type="button" ng-click="viewStationList()" ng-if="viewMap">View Station List</button>
    </div>
    <div id="googleMap" ng-if="viewMap"></div>
</div>