<div class="home-page-div">
    <h3 class="text-left home-header">Search London Tube Station Zone</h3>
    <div class="station-letters-div col-xs-12" style = "margin-bottom: 15px;">
       <span class="letter" ng-repeat="alphabet in alphabets" ng-click="getZoneDetails(alphabet)" ng-class="{'selectedLetter': selectedLetter === alphabet}">{{alphabet}} <span  class="letter-distance" >|</span> </span>
    </div>
    <div class="col-xs-12 col-sm-8 search-div">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="London Tube Station Name or Post Code" ng-model="searchPostCode.postCode">
            <span class="input-group-btn">
                <button class="btn btn-info" type="button">Find Zone</button>
            </span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-8 zone-details-div" ng-show="displayviewDetails && zoneDetails.length">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Station Name </th>
                    <th> Station Zone </th>
                    <th width="25%" class="action" style="text-align:center;"> Action </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="zone in zoneDetails | pagination: curPage * pageSize | filter:searchPostCode.postCode| limitTo: 10">
                    <td>{{zone.name}}</td>
                    <td>{{zone.zone}}</td>
                    <td class="text-center"><button class="btn btn-info" type="button" ng-click="dispalyDetails(zone)" >View Details</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-8 zone-details-div" ng-show="displayviewDetails && !zoneDetails.length">
        <h3 class="no-results text-center">No Results Found</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-8 zone-details-div" ng-hide="displayviewDetails">
        <div>
            <span class="station-details pull-left">Station Details</span>
            <span class="pull-right">
                <button class="btn btn-info" type="button" style="margin-bottom: 10px;" ng-click="showAllZones()" >Back</button>
            </span>
        </div>
        
        <table class="table displayZone table-striped">
            <tbody>
                <tr>
                    <td>Station Name</td>
                    <td>{{displayZone.name}}</td>
                </tr>
                <tr>
                    <td>Station Zone</td>
                    <td>{{displayZone.zone}}</td> 
                </tr>
                <tr>
                    <td>Station Address</td>
                    <td>{{displayZone.address}}</td> 
                </tr>
                <tr>
                    <td>Station PostCode</td>
                    <td>{{displayZone.postCode}}</td> 
                </tr>
                <tr>
                    <td>Station Type</td>
                    <td>{{displayZone.stationType}}</td> 
                </tr>
                <tr>
                    <td>Station Longitude</td>
                    <td>{{displayZone.longitude}}</td> 
                </tr>
                <tr>
                    <td>Station Latitude</td>
                     <td>{{displayZone.latitude}}</td> 
                </tr>
            </tbody>
        </table>
        <!--<button class="btn btn-info" type="button" style="margin-bottom: 10px;" ng-click="showMap = !showMap"><span ng-show="!showMap">View In Map</span><span ng-show="showMap">Hide Map</span></button>-->
        <div id="map"></div>
    </div>
    <div class="pagination-div col-xs-12 col-sm-12 col-lg-7 pull-right" ng-show="zoneDetails.length && displayviewDetails">
        <ul>
            <li><button type="button" class ="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1">< PREV</button></li>
            <li><span>Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>
            <li><button type="button" class="btn btn-primary" ng-disabled="curPage >= zoneDetails.length/pageSize - 1" ng-click="curPage = curPage+1">NEXT > </button></li>
        </ul>
    </div>
</div>