//home page scss starts here
.home-page-div{
	.home-header{
		padding: 0 10px;
	}
	.station-letters-div{
		padding: 0 10px;
		margin: 20px 0;
		word-wrap: break-word;
		.letter{
			font-size: 15px;
			padding: 5px;
			font-weight: bold;
			cursor: pointer;
		}
	}
	.search-div{
		margin: 20px 0;	
	}
	.table{
		border: 1px solid #1E3F4E;
		thead{
			tr{
				background: #1E3F4E;
				th{
					border-bottom: 0 none;
					color: #fff;
					font-weight: normal;
				}
			}
		}
		td{
			border: 1px solid #1E3F4E;
			vertical-align: middle;
		}
	}
}
.displayZone tbody {
	tr {
		border: 1px solid #1E3F4E;
	}
	tr > td:first-child{
		background-color: #1E3F4E;
		color: #fff;
		border: 1px solid #fff;
		border-top: 1px solid #1E3F4E;
		border-left: 1px solid #1E3F4E;
	}
	tr > td:last-child{
		border-bottom: 1px solid #1E3F4E;
	}
}

@media only screen and (max-width: 768px) {
	.zone-details-div{
		padding: 0 5px !important;
	}
}

.ng-hide {
	display: none;
}